{% extends 'homepage/index.html' %}

{% block contents %}
<div>Login Page</div>

<form action="" method="POST">
    {% csrf_token %}
    
    {% for form in forms %} <!-- forms라는 key값으로 받아온 register_form -->
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endfor %}

    {% for form in forms %}
    {{ form.errors }}
    {% endfor %}
    <button type="submit" name="login_submit" value="login">Login</button>
</form>

{% endblock contents %}